<div class="form-field">
    <label for="name">
        {{ username|raw }}
    </label>
    <input
        id="name" name="name" accesskey="u" autocomplete="username" type="text"
        required
    >
</div>

<div class="form-field">
    <label for="password">
        {{ password|raw }}
    </label>
    <input
        id="password" name="password" accesskey="p" type="password" required
        autocomplete="current-password"
    >
</div>

<div class="form-submit">
    <button type="submit">
        {{ button|raw }}
    </button>
</div>
