            </section>
        </main>

        <footer>
            <p class="copyright">
                {{ copyright|raw }}
                Design: Jade Template &copy; Josh Canning 2004 of
                <a href="http://hfs.cjb.net/" target="_blank" rel="nofollow">
                    HFS
                </a>
            </p>
        </footer>
    </body>
</html>
