{% extends 'layout/base.html.twig' %}

{% block title %}Login{% endblock %}
{% block header %}Login{% endblock %}

{% block content %}
    <p>
        Welcome to Legend of the Green Dragon, a browser-based roleplaying game
        based on the BBS door game, “Legend of the Red Dragon,” by Seth Able.
    </p>

    {% if errors %}
        {% for error in errors %}
            <p>
                {{ error }}
            </p>
        {% endfor %}
    {% else %}
        <p>
            If you have an account, enter your credentials below to start
            playing.
        </p>
    {% endif %}

    <p>
        <a href="#">Forgotten your password?</a>
    </p>

    <form action="/" method="post">
        <div>
            <label for="username">Username</label>
            <input id="username" name="username" type="text" required
                autocomplete="username"
                value=""
                autofocus>
        </div>

        <div>
            <label for="password">Password</label>
            <input id="password" name="password" type="password" required
                autocomplete="current-password">
        </div>

        <button type="submit">Log in</button>
    </form>
{% endblock %}

{% block aside %}
    <aside>
        <h2>
            Aside title
        </h2>

        <p>
            Optional login page content here.
        </p>
    </aside>
{% endblock %}
